COVID ARGENTINA 2019

In [1]:
import  pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Covid19Argentina.csv")

In [8]:
df.head()

,Testing_Date,Province,Province_Code,District,District_Code,Locality,Locality_Code,Financing,Type,Total_Tests,Positive_Cases
0,2008-08-13,Jujuy,38,Dr. Manuel Belgrano,21,SAN SALVADOR DE JUJUY,60,Public,Provincial,1,0
1,2019-07-13,CABA,2,COMUNA 02,2,RECOLETA,10,Public,Public University,1,0
2,2020-02-11,CABA,2,COMUNA 04,4,PARQUE PATRICIOS,10,Public,National,2,0
3,2020-02-20,Buenos Aires,6,Bahía Blanca,56,BAHIA BLANCA,10,Private,Private,1,0
4,2020-02-20,CABA,2,COMUNA 04,4,PARQUE PATRICIOS,10,Public,National,1,0

In [9]:
df.tail()

,Testing_Date,Province,Province_Code,District,District_Code,Locality,Locality_Code,Financing,Type,Total_Tests,Positive_Cases
17519,2020-08-27,Jujuy,38,Palpalá,42,PALPALA,40,Private,Private,3,2
17520,2020-08-27,CABA,2,COMUNA 04,4,PARQUE PATRICIOS,10,Private,Private,8,0
17521,2020-08-27,Buenos Aires,6,Florencio Varela,274,VILLA VATTEONE,10,Public,Provincial,23,11
17522,2020-08-27,CABA,2,COMUNA 09,9,LINIERS,10,Public,Municipal,2,1
17523,2020-08-29,CABA,2,COMUNA 04,4,PARQUE PATRICIOS,10,Public,National,1,0

In [10]:
df.describe()

,Province_Code,District_Code,Locality_Code,Total_Tests,Positive_Cases
count,17524.000000,17524.000000,17524.000000,17524.000000,17524.000000
mean,24.615328,158.231340,53.242981,71.154873,23.324241
std,28.522829,230.802172,95.104505,148.029044,64.203915
min,2.000000,0.000000,0.000000,1.000000,0.000000
25%,2.000000,12.000000,10.000000,4.000000,0.000000
50%,6.000000,35.000000,10.000000,21.000000,2.000000
75%,50.000000,260.000000,50.000000,68.000000,18.000000
max,99.000000,882.000000,560.000000,1738.000000,943.000000

In [11]:
#Mostramos los datos nullos de todo el DF
values_ascending =df.isna().sum().sort_values(ascending=False)
print(values_ascending)

Testing_Date      0
Province          0
Province_Code     0
District          0
District_Code     0
Locality          0
Locality_Code     0
Financing         0
Type              0
Total_Tests       0
Positive_Cases    0
dtype: int64

In [12]:

df.Testing_Date.describe()

count          17524
unique           187
top       2020-08-19
freq             219
Name: Testing_Date, dtype: object